USE [master]
GO
/****** Object:  Database [Foodee]    Script Date: 17/06/2022 9:19:57 CH ******/
CREATE DATABASE [Foodee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Foodee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Foodee.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Foodee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Foodee_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Foodee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Foodee]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 17/06/2022 9:19:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[address] [text] NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[total] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill_Item]    Script Date: 17/06/2022 9:19:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill_Item](
	[id] [int] NOT NULL,
	[pid] [int] NULL,
	[bid] [int] NULL,
	[amount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 17/06/2022 9:19:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[avatar] [text] NULL,
	[description] [ntext] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Information]    Script Date: 17/06/2022 9:19:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Information](
	[id] [int] NOT NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[time] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 17/06/2022 9:19:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[avatar] [text] NULL,
	[description] [ntext] NULL,
	[price] [int] NULL,
	[rate] [int] NULL,
	[categoryid] [int] NULL,
	[intro] [ntext] NULL,
	[detail] [ntext] NULL,
	[discount] [int] NULL,
	[amount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Bill] ([id], [name], [address], [email], [phone], [total]) VALUES (1, N'nguyá»n vÄn hÃ¹ng', N'15b ngÃµ 98 Ä?Æ°á»ng tÃ¢n triá»u', N'hungkojno1@gmai.com', N'0981814426', 120000)
INSERT [dbo].[Bill] ([id], [name], [address], [email], [phone], [total]) VALUES (2, N'nguyá»n vÄn hÃ¹ng', N'15b ngÃµ 98 Ä?Æ°á»ng tÃ¢n triá»u', N'hungkojno1@gmai.com', N'0981814426', 120000)
INSERT [dbo].[Bill] ([id], [name], [address], [email], [phone], [total]) VALUES (3, N'nguyá»n vÄn hÃ¹ng', N'15b ngÃµ 98 Ä?Æ°á»ng tÃ¢n triá»u', N'hungkojno1@gmai.com', N'0981814426', 0)
GO
INSERT [dbo].[Bill_Item] ([id], [pid], [bid], [amount]) VALUES (1, 1, 1, 4)
INSERT [dbo].[Bill_Item] ([id], [pid], [bid], [amount]) VALUES (2, 1, 2, 4)
INSERT [dbo].[Bill_Item] ([id], [pid], [bid], [amount]) VALUES (3, 1, 4, 1)
GO
INSERT [dbo].[Category] ([id], [name], [avatar], [description]) VALUES (1, N'Đồ uống', N'https://vnn-imgs-f.vgcloud.vn/2018/12/28/16/sua-tuoi-tran-chau-duong-den.jpg', N'Đồ uống tươi mát')
INSERT [dbo].[Category] ([id], [name], [avatar], [description]) VALUES (2, N'Bún', N'https://cdn.tgdd.vn/2021/04/CookProduct/1-1200x676-21.jpg', N'Bún các loại')
INSERT [dbo].[Category] ([id], [name], [avatar], [description]) VALUES (3, N'Phở', N'https://cdn.tgdd.vn/Files/2022/01/25/1412805/cach-nau-pho-bo-nam-dinh-chuan-vi-thom-ngon-nhu-hang-quan-202201250313281452.jpg', N'Phở các loại')
GO
INSERT [dbo].[Product] ([id], [name], [avatar], [description], [price], [rate], [categoryid], [intro], [detail], [discount], [amount]) VALUES (2, N'Sinh tố xoài', N'https://www.bartender.edu.vn/wp-content/uploads/2020/04/sinh-to-xoai.jpg', N'sinh tố cực ngon', 40000, 4, 1, N'sinh tố cực ngon', N'sinh tố cực ngon', 0, 0)
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_amount]  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[Bill_Item]  WITH CHECK ADD FOREIGN KEY([bid])
REFERENCES [dbo].[Bill] ([id])
GO
ALTER TABLE [dbo].[Bill_Item]  WITH CHECK ADD FOREIGN KEY([pid])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([categoryid])
REFERENCES [dbo].[Category] ([id])
GO
USE [master]
GO
